In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('../data/tips.csv')

In [25]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [26]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [27]:
df.info

<bound method DataFrame.info of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [28]:
def last_digits(number):
    return str(number)[-2:]

In [29]:
last_digits(345345)

'45'

In [30]:
df['new_col'] = df['total_bill'].apply(last_digits)

In [32]:
df.head()

<bound method NDFrame.head of      total_bill   tip     sex smoker   day    time  size new_col
0         16.99  1.01  Female     No   Sun  Dinner     2      99
1         10.34  1.66    Male     No   Sun  Dinner     3      34
2         21.01  3.50    Male     No   Sun  Dinner     3      01
3         23.68  3.31    Male     No   Sun  Dinner     2      68
4         24.59  3.61  Female     No   Sun  Dinner     4      59
..          ...   ...     ...    ...   ...     ...   ...     ...
239       29.03  5.92    Male     No   Sat  Dinner     3      03
240       27.18  2.00  Female    Yes   Sat  Dinner     2      18
241       22.67  2.00    Male    Yes   Sat  Dinner     2      67
242       17.82  1.75    Male     No   Sat  Dinner     2      82
243       18.78  3.00  Female     No  Thur  Dinner     2      78

[244 rows x 8 columns]>

In [33]:
df['total_bill'].mean()

19.78594262295082

In [34]:
def yelp(price):
    if price<10:
        return '$'
    elif price >= 10 and price<30:
        return '$$'
    else:
        return '$$$'

In [36]:
df['yelp'] = df['total_bill'].apply(yelp)

In [37]:
df

     total_bill   tip     sex smoker   day    time  size new_col yelp
0         16.99  1.01  Female     No   Sun  Dinner     2      99   $$
1         10.34  1.66    Male     No   Sun  Dinner     3      34   $$
2         21.01  3.50    Male     No   Sun  Dinner     3      01   $$
3         23.68  3.31    Male     No   Sun  Dinner     2      68   $$
4         24.59  3.61  Female     No   Sun  Dinner     4      59   $$
..          ...   ...     ...    ...   ...     ...   ...     ...  ...
239       29.03  5.92    Male     No   Sat  Dinner     3      03   $$
240       27.18  2.00  Female    Yes   Sat  Dinner     2      18   $$
241       22.67  2.00    Male    Yes   Sat  Dinner     2      67   $$
242       17.82  1.75    Male     No   Sat  Dinner     2      82   $$
243       18.78  3.00  Female     No  Thur  Dinner     2      78   $$

[244 rows x 9 columns]