In [55]:
import pandas as pd
import numpy as np

In [56]:
df = pd.read_csv('../data/tips.csv')

In [57]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [58]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [59]:
df.info

<bound method DataFrame.info of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [60]:
def last_digits(number):
    return str(number)[-2:]

In [61]:
last_digits(345345)

'45'

In [62]:
df['new_col'] = df['total_bill'].apply(last_digits)

In [63]:
df.head()

   total_bill   tip     sex smoker  day    time  size new_col
0       16.99  1.01  Female     No  Sun  Dinner     2      99
1       10.34  1.66    Male     No  Sun  Dinner     3      34
2       21.01  3.50    Male     No  Sun  Dinner     3      01
3       23.68  3.31    Male     No  Sun  Dinner     2      68
4       24.59  3.61  Female     No  Sun  Dinner     4      59

In [64]:
df['total_bill'].mean()

19.78594262295082

In [65]:
def yelp(price):
    if price<10:
        return '$'
    elif price >= 10 and price<30:
        return '$$'
    else:
        return '$$$'

In [66]:
df['yelp'] = df['total_bill'].apply(yelp)

In [67]:
df

     total_bill   tip     sex smoker   day    time  size new_col yelp
0         16.99  1.01  Female     No   Sun  Dinner     2      99   $$
1         10.34  1.66    Male     No   Sun  Dinner     3      34   $$
2         21.01  3.50    Male     No   Sun  Dinner     3      01   $$
3         23.68  3.31    Male     No   Sun  Dinner     2      68   $$
4         24.59  3.61  Female     No   Sun  Dinner     4      59   $$
..          ...   ...     ...    ...   ...     ...   ...     ...  ...
239       29.03  5.92    Male     No   Sat  Dinner     3      03   $$
240       27.18  2.00  Female    Yes   Sat  Dinner     2      18   $$
241       22.67  2.00    Male    Yes   Sat  Dinner     2      67   $$
242       17.82  1.75    Male     No   Sat  Dinner     2      82   $$
243       18.78  3.00  Female     No  Thur  Dinner     2      78   $$

[244 rows x 9 columns]

In [68]:
df['total_bill'].apply(lambda num:num*2)

0      33.98
1      20.68
2      42.02
3      47.36
4      49.18
       ...
239    58.06
240    54.36
241    45.34
242    35.64
243    37.56
Name: total_bill, Length: 244, dtype: float64

In [69]:
df.head()

   total_bill   tip     sex smoker  day    time  size new_col yelp
0       16.99  1.01  Female     No  Sun  Dinner     2      99   $$
1       10.34  1.66    Male     No  Sun  Dinner     3      34   $$
2       21.01  3.50    Male     No  Sun  Dinner     3      01   $$
3       23.68  3.31    Male     No  Sun  Dinner     2      68   $$
4       24.59  3.61  Female     No  Sun  Dinner     4      59   $$

In [70]:
def quality(total_bill, tip):
    if tip/total_bill >0.25:
        return "high"
    else:
        return "low"

In [71]:
df['other_tip']=df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'], df['tip']),axis=1)

In [72]:
df['other_tip'] = np.vectorize(quality)(df['total_bill'], df['tip'])

In [73]:
df

,total_bill,tip,sex,smoker,day,time,size,new_col,yelp,other_tip
0,16.99,1.01,Female,No,Sun,Dinner,2,99,$$,low
1,10.34,1.66,Male,No,Sun,Dinner,3,34,$$,low
2,21.01,3.50,Male,No,Sun,Dinner,3,01,$$,low
3,23.68,3.31,Male,No,Sun,Dinner,2,68,$$,low
4,24.59,3.61,Female,No,Sun,Dinner,4,59,$$,low
...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,03,$$,low
240,27.18,2.00,Female,Yes,Sat,Dinner,2,18,$$,low
241,22.67,2.00,Male,Yes,Sat,Dinner,2,67,$$,low
242,17.82,1.75,Male,No,Sat,Dinner,2,82,$$,low
243,18.78,3.00,Female,No,Thur,Dinner,2,78,$$,low

In [74]:
setup = """
import numpy as np
import pandas as pd
df = pd.read_csv('../data/tips.csv')
def quality(total_bill, tip):
    if tip/total_bill >0.25:
        return "high"
    else:
        return "low"
"""

In [75]:
one = """
df['other_tip']=df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'], df['tip']),axis=1)
"""

In [76]:
two = """
df['other_tip'] = np.vectorize(quality)(df['total_bill'], df['tip'])
"""

In [77]:
import timeit

In [78]:
timeit.timeit(setup=setup, stmt=one, number=5000)

17.944369100000586

In [79]:
timeit.timeit(setup=setup, stmt=two, number=5000)

2.040094500000123

In [83]:
df = pd.read_csv('../data/tips.csv')

In [89]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [90]:
df.sort_values(['tip', 'size'])

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
111        7.25   1.00  Female     No   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
236       12.60   1.00    Male    Yes   Sat  Dinner     2
0         16.99   1.01  Female     No   Sun  Dinner     2
..          ...    ...     ...    ...   ...     ...   ...
141       34.30   6.70    Male     No  Thur   Lunch     6
59        48.27   6.73    Male     No   Sat  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

In [91]:
df['total_bill'].max()

50.81

In [93]:
df['total_bill'].idxmax()

170

In [94]:
df.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [95]:
df['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [96]:
df['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [97]:
df['sex'].replace(['Female','Male'], ['F','M'])

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: object

In [98]:
mymap = {'Female': 'F', 'Male':'M'}
df['sex'].map(mymap)

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: object

In [99]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Length: 244, dtype: bool

In [100]:
simple_df = pd.DataFrame([1,2,2], ['a', 'b', 'c'])

In [101]:
simple_df.duplicated()

a    False
b    False
c     True
dtype: bool

In [103]:
df[df['total_bill'].between(10,20, inclusive=True)]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[130 rows x 7 columns]

In [105]:
df.nlargest(2, 'tip')

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3
212       48.33   9.0  Male     No  Sat  Dinner     4

In [106]:
df.sample(5)

     total_bill   tip     sex smoker  day    time  size
169       10.63  2.00  Female    Yes  Sat  Dinner     2
161       12.66  2.50    Male     No  Sun  Dinner     2
69        15.01  2.09    Male    Yes  Sat  Dinner     2
222        8.58  1.92    Male    Yes  Fri   Lunch     1
93        16.32  4.30  Female    Yes  Fri  Dinner     2

In [108]:
df.sample(frac=0.2)

     total_bill   tip     sex smoker   day    time  size
85        34.83  5.17  Female     No  Thur   Lunch     4
56        38.01  3.00    Male    Yes   Sat  Dinner     4
129       22.82  2.18    Male     No  Thur   Lunch     3
125       29.80  4.20  Female     No  Thur   Lunch     6
89        21.16  3.00    Male     No  Thur   Lunch     2
142       41.19  5.00    Male     No  Thur   Lunch     5
51        10.29  2.60  Female     No   Sun  Dinner     2
157       25.00  3.75  Female     No   Sun  Dinner     4
151       13.13  2.00    Male     No   Sun  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
43         9.68  1.32    Male     No   Sun  Dinner     2
42        13.94  3.06    Male     No   Sun  Dinner     2
220       12.16  2.20    Male    Yes   Fri   Lunch     2
145        8.35  1.50  Female     No  Thur   Lunch     2
31        18.35  2.50    Male     No   Sat  Dinner     4
134       18.26  3.25  Female     No  Thur   Lunch     2
78        22.76  3.00    Male     No  Thur   Lunch     2
240       27.18  2.00  Female    Yes   Sat  Dinner     2
158       13.39  2.61  Female     No   Sun  Dinner     2
165       24.52  3.48    Male     No   Sun  Dinner     3
75        10.51  1.25    Male     No   Sat  Dinner     2
110       14.00  3.00    Male     No   Sat  Dinner     2
189       23.10  4.00    Male    Yes   Sun  Dinner     3
209       12.76  2.23  Female    Yes   Sat  Dinner     2
61        13.81  2.00    Male    Yes   Sat  Dinner     2
71        17.07  3.00  Female     No   Sat  Dinner     3
128       11.38  2.00  Female     No  Thur   Lunch     2
207       38.73  3.00    Male    Yes   Sat  Dinner     4
197       43.11  5.00  Female    Yes  Thur   Lunch     4
49        18.04  3.00    Male     No   Sun  Dinner     2
114       25.71  4.00  Female     No   Sun  Dinner     3
163       13.81  2.00    Male     No   Sun  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
81        16.66  3.40    Male     No  Thur   Lunch     2
74        14.73  2.20  Female     No   Sat  Dinner     2
116       29.93  5.07    Male     No   Sun  Dinner     4
193       15.48  2.02    Male    Yes  Thur   Lunch     2
159       16.49  2.00    Male     No   Sun  Dinner     4
30         9.55  1.45    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
147       11.87  1.63  Female     No  Thur   Lunch     2
122       14.26  2.50    Male     No  Thur   Lunch     2
138       16.00  2.00    Male    Yes  Thur   Lunch     2
25        17.81  2.34    Male     No   Sat  Dinner     4
57        26.41  1.50  Female     No   Sat  Dinner     2
212       48.33  9.00    Male     No   Sat  Dinner     4
184       40.55  3.00    Male    Yes   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
216       28.15  3.00    Male    Yes   Sat  Dinner     5